$beige: #fefefe;
$red: #8d0f11;
$burgundy: #4b2122;
$dark-brown: #0c0c0c;
$gray: #474747;
$index: calc(1vw + 1vh);
:root {
  --main-color-text: #8d0f11;
  --main-color-bg: #fefefe;
  --highlight-color: #0c0c0c;
}
body[data-theme='dark'] {
  --main-color-text: #fefefe;
  --main-color-bg: #0c0c0c;
  --highlight-color: #8d0f11;
}
@mixin header-btn {
  min-width: 35px;
  height: 35px;
  background-color: var(--main-color-text);
  border-radius: 50%;
  border: none;
  outline: none;
  transition: transform 0.3s linear, background-color 0.5s;
  &:disabled {
    background-color: $gray;
    svg {
      fill: #fff;
    }
  }
  &:hover {
    transform: scale(1.07);
  }
  &:nth-child(1) {
    margin-right: 15px;
  }
  svg {
    fill: var(--main-color-bg);
  }
}
@mixin title {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 600;
}
@mixin description {
  font-size: calc($index * 1.15);
  font-weight: 500;
  max-height: 100px;
  overflow-y: auto;
  padding-right: 5px;
  margin: 35px 0px;
  display: block;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: $burgundy;
    border-radius: 1.5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $beige;
    border-radius: 1.5px;
  }
}
@mixin main-title {
  font-size: calc($index * 2.5);

  font-weight: 500;
}
@mixin filter-values {
  font-size: calc($index * 0.8);
  text-transform: uppercase;
  font-weight: 600;
  color: $beige;
}
@mixin pagination-btn {
  position: relative;
  margin: 0px 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 700;
  background-color: transparent;
  color: var(--main-color-text);
  border: none;
  outline: none;
  transition-duration: 0.5s;
  &:nth-child(7),
  &:nth-child(1) {
    border: 1px solid var(--main-color-text);
    transition: border 0.5s;
  }
  &:disabled {
    color: $gray;
  }
  &:nth-child(7):hover,
  &:nth-child(1):hover {
    border: 1px solid var(--highlight-color);
    svg {
      fill: var(--highlight-color);
    }
  }
  &:hover {
    color: var(--highlight-color);
  }
  svg {
    fill: var(--main-color-text);
    transition: fill 0.5s;
  }
}

@mixin btn-close {
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border: 50%;
  inset: 2.5% 2.5% auto auto;
  transition: transform 0.5s;
  z-index: 2500;
  &:hover {
    transform: translateX(10px);
  }
  svg {
    fill: var(--main-color-text);
    width: 25px;
    height: 25px;
  }
}

@mixin btn-main {
  position: relative;
  padding: calc($index * 0.3);
  font-size: calc($index * 1.2);
  outline: none;
  border: 1px solid var(--main-color-text);
  display: flex;
  font-weight: 700;
  align-items: center;
  background-color: transparent;
  transition: transform 0.5s linear;
  color: var(--main-color-text);
  &::after {
    content: '';
    border: 1px solid var(--main-color-text);
    position: absolute;
    display: block;
    width: 100%;
    inset: 0;
    height: 100%;
    transform: scaleX(1);
    transition-duration: 0.5s;
  }
  &::before {
    content: '';
    border: 1px solid var(--main-color-text);
    position: absolute;
    display: block;
    width: 100%;
    inset: 0;
    height: 100%;
    transform: scaleY(1);
    transition-duration: 0.5s;
  }
  &:hover::before {
    transform: scaleY(1.4);
  }
  &:hover::after {
    transform: scaleX(1.1);
  }
  svg {
    margin-right: 10px;
    width: calc($index * 1.2);
    height: calc($index * 1.2);
    fill: var(--main-color-text);
  }
}
